<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.halfyak.alfredapp.atlassian</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>15EB73F5-4C33-4CE2-887E-259404FF5D44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61A37C9C-CB23-4829-A460-6BB397472512</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61A37C9C-CB23-4829-A460-6BB397472512</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEBF3B34-F579-406B-8AA6-58610D52B813</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60401E36-A7A3-4D60-B789-9F609A7400E7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B94C15B0-D3AF-4370-AAEE-B493CA0E0564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77E97C69-083B-4EE0-8C51-9216C76E9319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68FB8EA0-639E-4082-957D-3F168BEB9E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC29A52D-9B64-42FB-B5D9-B209F3004A28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B94C15B0-D3AF-4370-AAEE-B493CA0E0564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1703B817-FFC6-4EBD-9C0B-B95F32D0E93E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>77E97C69-083B-4EE0-8C51-9216C76E9319</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>113E4FF0-6426-4826-8803-58F1372057D5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BC77FB44-5620-4E46-BDE2-A37C25E56F32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3BCB2ADB-EEF5-42C8-8E3D-B5CC28839F60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60614954-C1F1-461C-8651-DE2C1EB6EEEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9B0C109E-AB41-4B8E-BDDF-800414B22729</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B49B586C-1604-4E68-9158-A5E693D8666E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC29A52D-9B64-42FB-B5D9-B209F3004A28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B94C15B0-D3AF-4370-AAEE-B493CA0E0564</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68FB8EA0-639E-4082-957D-3F168BEB9E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC77FB44-5620-4E46-BDE2-A37C25E56F32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68FB8EA0-639E-4082-957D-3F168BEB9E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robbie Gates</string>
	<key>description</key>
	<string>Query Atlassian Activity</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atlassian</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EEBF3B34-F579-406B-8AA6-58610D52B813</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>connect-account.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B94C15B0-D3AF-4370-AAEE-B493CA0E0564</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>aa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Contacting Atlassian ... this may take a few seconds</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>atlassian-activity.js</string>
				<key>subtext</key>
				<string>Query recent activity on Atlassian cloud services</string>
				<key>title</key>
				<string>Atlassian Activity</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15EB73F5-4C33-4CE2-887E-259404FF5D44</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>URL chosen</string>
						<key>uid</key>
						<string>60401E36-A7A3-4D60-B789-9F609A7400E7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Accounts</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>61A37C9C-CB23-4829-A460-6BB397472512</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-account.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77E97C69-083B-4EE0-8C51-9216C76E9319</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>68FB8EA0-639E-4082-957D-3F168BEB9E37</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>disconnect-account.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC77FB44-5620-4E46-BDE2-A37C25E56F32</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>add</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>1703B817-FFC6-4EBD-9C0B-B95F32D0E93E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>toggle</string>
						<key>outputlabel</key>
						<string>toggle</string>
						<key>uid</key>
						<string>113E4FF0-6426-4826-8803-58F1372057D5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>delete</string>
						<key>outputlabel</key>
						<string>delete</string>
						<key>uid</key>
						<string>3BCB2ADB-EEF5-42C8-8E3D-B5CC28839F60</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>help</string>
						<key>outputlabel</key>
						<string>help</string>
						<key>uid</key>
						<string>9B0C109E-AB41-4B8E-BDDF-800414B22729</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AC29A52D-9B64-42FB-B5D9-B209F3004A28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>a?</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>configuration-menu.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B49B586C-1604-4E68-9158-A5E693D8666E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>60614954-C1F1-461C-8651-DE2C1EB6EEEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Halfyak Atlassian workflow for Alfred

This workflow provides search of activity on Atlassian Cloud Confluence and
Jira. This workflow provides two keywords:

- `aa` which searches recent Atlassian Activity
- `a?` which is used to configure this workflow

In order to use the workflow, an Atlassian Account must be connected, by
providing an Atlassian API token to allow the workflow to make calls to
Atlassian Cloud systems. The workflow will lead you through the process,
and full details are provided in the [Configuration documentation](https://github.com/robbieg8s/alfred-workflows/blob/main/workflows/atlassian/docs/Configuration.md).

Searches are performed by requesting all activity from the Atlassian API
gateway's GraphQL endpoint, and then Alfred filters the results locally.

## Security

Tokens are stored in the macOS Keychain, which provides basic security, but an
Attacker able to run processes on your computer could obtain them.

## Legals

This workflow is not affiliated with either Alfred nor Atlassian, this is a
third party product and not a product offered by Atlassian.</string>
	<key>uidata</key>
	<dict>
		<key>15EB73F5-4C33-4CE2-887E-259404FF5D44</key>
		<dict>
			<key>note</key>
			<string>Atlassian Activity</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>60614954-C1F1-461C-8651-DE2C1EB6EEEC</key>
		<dict>
			<key>note</key>
			<string>Open Help Link</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>61A37C9C-CB23-4829-A460-6BB397472512</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>68FB8EA0-639E-4082-957D-3F168BEB9E37</key>
		<dict>
			<key>note</key>
			<string>Display Outcome</string>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>77E97C69-083B-4EE0-8C51-9216C76E9319</key>
		<dict>
			<key>note</key>
			<string>Toggle Account</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>AC29A52D-9B64-42FB-B5D9-B209F3004A28</key>
		<dict>
			<key>note</key>
			<string>Check {var:action}</string>
			<key>xpos</key>
			<real>349</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>B49B586C-1604-4E68-9158-A5E693D8666E</key>
		<dict>
			<key>note</key>
			<string>Configuration Menu</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>B94C15B0-D3AF-4370-AAEE-B493CA0E0564</key>
		<dict>
			<key>note</key>
			<string>Connect Account</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BC77FB44-5620-4E46-BDE2-A37C25E56F32</key>
		<dict>
			<key>note</key>
			<string>Disconnect Account</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>EEBF3B34-F579-406B-8AA6-58610D52B813</key>
		<dict>
			<key>note</key>
			<string>Open Atlassian Link</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>60</integer>
				<key>markercount</key>
				<integer>25</integer>
				<key>maxvalue</key>
				<integer>120</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The timeout (in seconds) to wait for a response from api.atlassian.com</string>
			<key>label</key>
			<string>API timeout</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>API_TIMEOUT</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/robbieg8s/alfred-workflows/tree/main/workflows/atlassian</string>
</dict>
</plist>
